* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
img{
    width:100%;
}
.logo{
    width: 200px;
}
ul {
    display: flex;
}

ul li {
    list-style: none;
    margin-left: 20px;
}

ul li a {
    font-size: 1.5rem;
}

a {
    text-decoration: none;
}
#main-container{
    display: flex;
    max-width: 1500px;
    background-color: rgb(206, 206, 206);
    padding: 20px 20px;
}
.news{
    border: 1px solid black;
    background-color: #ffffff;
    flex: calc (100%/3)
}
.text{
    color:white;
    margin: 10px 0 10px 20px;
    display: inline-block;
    background-color: rgb(139, 29, 29);
    border-radius: 200px;
    padding: 0 10px
}
h1{
    color: pink;
}
.col-lg-2{
    flex: calc;
}

